/* Landing Page - Assembleia SindJogosSP - 10/11/2025 */

/* Configurações gerais Conteineres */

/* Tela Pequena */

body, header, section, div {
    margin: 0;
    padding: 0;
    font-family: "Liberation Sans", "Arial", sans-serif;
}

header, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #e2373d;
    overflow: hidden;
}

header img {
    width: 200%;
    object-fit: contain;
}

section.box_red {
    background-color: #e2373d;
}

.box_red h1, .box_red p, .box_red a {
    color: white;
    font-weight: bold;
}

div.embrulho {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

/* Tela Grande */

@media (min-width: 768px) {
    
    header img {
        width: 100%;
    }
    
    div.embrulho {
        padding: 0;
        width: 550px;
    }
}
